@tailwind base;
@tailwind components;
@tailwind utilities;

/* global resets and base styles */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    @apply font-sans text-gray-800 bg-white leading-relaxed;
  }
}
